@import '~purecss/build/pure.css';
@import './home.scss';
@import './tokens.scss';

body {
    //background-color: rgba(207,161,86, 0.5);
    background-color: $background;
    font-family: $ourFont;

}
.local-media {
    max-width: 200px;

}

.toolbar {
    height: 52px;
 }

.page-container {
    height: calc(100vh - 52px);
    display: flex;
}
.admin-container {
    display: flex;
    flex-direction: column;
}

.finished-prompt {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.red {background-color: $red;}
.blue {background-color: $blue;}

.team-won {
    margin: 40px;
}
.restart-game {
    padding: 16px;
    border-radius: 5px;
    margin: 40px;
}

.score-container {
    display: flex;
    flex-direction: column;
    width: 16%;
    height: 95vh;
    .team-score {
        min-height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        margin: 8px;
        .team {
            margin-top: 24px;
            font-size: 80px;
        }
        .score {
            font-size: 56px;
        }
    }
}
.outer-board {
    width: 100%;
    overflow: hidden;
}

.board-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 56px;
}


.card {
    box-sizing: border-box;
    border: solid;
    border-radius: 5px;
    box-shadow: 6px 8px 6px 0px #666;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
    width: calc(49vw - 16px);
    height: calc( calc(100vh - calc(104px + 32px)) / 5);

    @media only screen and (min-width: 500px) {
        height: calc( calc(100vh - calc(104px + 24px)) / 4);
        width: calc(10vw);
    }

    @media only screen and (min-width: 900px) {
        width: 19vw;
    }
    @media only screen and (min-width: 1400px) {
        width: 17vw;
    }
}

.sb {
    position: absolute;
    bottom: 0;
    width: calc(50% - 24px);
    height: 128px;
    margin: 16px 0;
    
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;

}

.switch-to-codegiver {
    box-sizing: border;
    position: fixed;
    top: 0;
    padding: 4px 16px;
    border-radius: 4px;
    margin: 16px;
    right: 0;
    opacity: 0.8;
    &:hover {
        color: red;
    }
}
.in-room {
    position: fixed;
    top: 0;
    left: 0;
    margin: 8px;
    font-size: 36px;
    opacity: 0.5;
}

.admin-turned {
    .word {
        opacity: 0.5;
        text-decoration: line-through;
        color: white;
        background-color: unset;
        border: none;
    }
}

.admin-turned, .admin-unturned {
    display: flex;
    align-items: center;
    justify-content: center;

}

.admin-unturned:hover {
    cursor: pointer;
}
//
.admin-turned:hover {
    cursor: no-drop;
}

.admin- {
   &red {border-color: $red; background-color: $red;} 
   &blue {border-color: $blue; background-color: $blue;} 
   &gray {border-color: $gray; background-color: $gray;} 
}

.word {
    text-transform: uppercase;
    //background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    min-width: 60%;
    @media only screen and (min-width: 900px) {
        font-size: 27px;
        min-width: 90%;
    } 
}

.admin-bar {
    height: 40px;
    background-color: $gray;
    width: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
