@import '~purecss/build/pure.css';
@import './home.scss';
@import './tokens.scss';

body {
    //background-color: rgba(207,161,86, 0.5);
    background-color: $background;
    font-family: $ourFont;

}
.local-media {
    max-width: 200px;

}

.toolbar {
    background-color: gray;
    height: 52px;
    button {
        padding: 16px;
        border-radius: 4px;
        margin: 0 8px;
    }

}

.page-container {
    height: calc(100vh - 52px);
    display: flex;
}
.admin-container {
    display: flex;
    flex-direction: column;
}
.score-container {
    display: flex;
    flex-direction: column;
    width: 16%;
    height: 95vh;
    .team-score {
        min-height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        margin: 8px;
        .team {
            margin-top: 24px;
            font-size: 80px;
        }
        .score {
            font-size: 56px;
        }
    }
}
.outer-board {
    width: 100%;
    overflow: hidden;
}
.board-container {
    width: 100%;
}


.admin-turned {
    .word {
        opacity: 0.5;
        color: white;
        background-color: unset;
        border: none;
    }
}
.admin-turned, .admin-unturned {
    display: flex;
    align-items: center;
    justify-content: center;

}


.cards {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card {
    border: solid;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 6px 8px 6px 0px #666;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
    width: calc(49vw - 16px);
    height: 7vh;

    @media only screen and (min-width: 500px) {
        height: 17vh;
        width: calc(24vw - 16px);
    }

    @media only screen and (min-width: 900px) {
        width: 19vw;
    }
    @media only screen and (min-width: 1400px) {
        width: 17vw;
    }
}


.admin-unturned:hover {
    cursor: pointer;
}
//
.admin-turned:hover {
    cursor: no-drop;
}

.admin- {
   &red {border-color: $red; background-color: $red;} 
   &blue {border-color: $blue; background-color: $blue;} 
   &gray {border-color: $gray; background-color: $gray;} 
}

.word {
    text-transform: uppercase;
    //background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    min-width: 60%;
    @media only screen and (min-width: 900px) {
        font-size: 27px;
        min-width: 90%;
    } 
}

.admin-bar {
    height: 40px;
    background-color: $gray;
    width: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
