// 
// $red: #CF6456;
// $blue: #5697cf;
// 
// $background: #cfa156;
// $gray: #bdbbba;
// 
// $neutral: #b69b70;
// 

$red: #d16763;
$blue: #5697cf;

$background: #b1bbcc;
$gray: #bdbbba;

//cards
$neutral: #e6e9ed;

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,700;1,700&family=Roboto&display=swap');

$ourFont:   'Roboto', sans-serif;
